@charset "UTF-8";

/* reset css */
html,body,h1,h2,h3,h4,h5,h6,p,li,ul,ol,pre,code,address,form,fieldset{
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 100%;
}

ol{
  margin-left: 1.4em;
  list-style: decimal;
}
ul{
  margin-left: 1.4em;
  list-style: square;
}
img{
  border: 0;
}
/* fin del reset */

#principal{
  float: left;
  width: 580px;
}

#lateral{
  margin-left: 600px;
  padding: 15px;
  background-color: #e1cdff;
}

body{
  color:#b1967c;
  font-family: "Palatino Linotype", "Book Antique", Palatino, serif;
  padding-top: 100px;
  background: #e1cdff url(images/fondo_cuerpo.png) repeat-x;
  width: 800px ;
  margin: 0 auto;
}

h1{
  font-size: 3em;
  font-family: "Arial Black", Gadget, sans-serif;
}

h2{
  font-size: 2.2em;
  color:#600;
  margin-bottom: 5px;
}

#principal h2{
    color:#e8a064;
    border-bottom: 2px white solid;
    background: url(images/flor.png) no-repeat;
    padding: 0 0 2px 80px
}

#principal p{
  color: #616161;
  font-family: "Palatino Linotype", "Book Antique", Palatino, serif;
  font-size: 1.1em;
  line-height: 150%;
  margin: 2px 0 10px 80px;
}

#principal .introduccion{
  color:Black;
  font-family: Arial, Malvetica, sans-serif;
  font-size: 1.2em;
  margin-left: 0px;
  margin-bottom: 25px;
}
